<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style_projects.css">
  <script src="https://kit.fontawesome.com/0d56741fa7.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Nikhil</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/projects">Projects</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="container-sm" style="background-color:rgb(189, 244, 189);">
      <div class="container text-center">
        <h3>Weather App</h3>
        <div class="row">
          <div class="col text">
            <h5>Developed Using:- HTML,Bootstrap and Little Custom CSS,javascript,Express.js</h5>
            <p>Project Description:-It uses the fetch method to get weather information about various cities from the api and renders it on the frontend which is styled with bootstrap and bit of custion CSS.For the backend It runs on a server developed using Node and Express.Js.Deployed Using <a href="https://render.com/" target="_blank">Render</a>
            </p>
            <a href="https://github.com/Nikhil-0088/weather" target="_blank">Github Repository Link</a>
            <br>
            <a href="https://weather-nikh.onrender.com/" target="_blank">Click Here to see the Project Live</a>
          </div>
          <div class="col image">
            <img src="images/weather_home.png" alt="Photo..." width="350px">
            <img src="images/weather_main.png" alt="Photo..." width="350px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm " style="background-color:rgb(252, 250, 250)">
      <div class="container text-center">
        <h3><b>Calculator</b></h3>
        <div class="row">
          <div class="col text">
            <h5>Developed Using:- HTML,Css,Javascript</h5>
            <p>Project Description:-Simple calculator made using the basic properties of Html,Css,Javascript.Supports Basic arithetic operations.The input to calci is collected using the input tag of Html and then using Javascript the inputs are converted to float in Js and result is calculted and displayed 
            </p>
            <a href="https://github.com/Nikhil-0088/NikhilCalci" target="_blank">Github Repository Link</a>
            <br>
            <a href="https://nikhil-0088.github.io/NikhilCalci/" target="_blank">Click Here to see the Project Live</a>
          </div>
          <div class="col image">
            <img src="images/calci.png" alt="Photo..." width="350px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm " style="background-color:rgb(189, 244, 189);">
      <div class="container text-center">
        <h3>Aoss Website</h3>
        <div class="row">
          <div class="col text">
            <h5>Developed Using:- HTML,Bootstrap template and Little Bit Of custom Css</h5>
            <p>Project Description:-This is a website developed for the 5th meeting of the Asia-Oceania Sonochemical SocietInternational conference It includes information about conference dates and registration Fees and themes of the conference.I developed this for the Chemical Engineering Department,NITW.
            </p>
            <a href="https://github.com/Nikhil-0088/aoss" target="_blank">Github Repository Link</a>
            <br>
            <a href="https://nikhil-0088.github.io/aoss/" target="_blank">Click Here to see the Project Live</a>
          </div>
          <div class="col image">
            <img src="images/aoss_main.png" alt="Photo..." width="350px">
            <img src="images/aoss_sec.png" alt="Photo..." width="350px">
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm " style="background-color:rgb(252, 250, 250);">
      <div class="container text-center">
        <h3>Student Data Storage</h3>
        <div class="row">
          <div class="col text">
            <h5>Developed Using:- Python </h5>
            <p>Project Description:- A simple program written in python that helps store studnets data like roll number,name,email,CGPA in a txt file using simple file handling in python and has email and phone number structure validations according to indian standards
            </p>
            <a href="https://github.com/Nikhil-0088/Student-Data-storage/tree/main" target="_blank">Github Repository Link</a>
            <br>
          </div>
          <div class="col image">
            <img src="images/data.png" alt="Photo..." width="350px">
            <img src="images/py.png" alt="Photo..." width="350px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/nikhil-boob-b6941625b/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href="mailto:nikhil.b1216@gmail.com" target="_blank">
            <i class="fa-regular fa-envelope"></i>
        </a>
        <a href="https://www.instagram.com/nikhil_b_0088/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/6281632625" target="_blank">
            <i class="fab fa-whatsapp"></i> 
         </a>
      </div>
      <div class="copyright">
        Copyright © Nikhil 2023
      </div>
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>
